.ion-ios-car,
.ion-md-car,
.ion-wp-car {
  content: url(../../build/icons/car.svg);
  width: 48px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}

.ion-ios-taxi,
.ion-md-taxi,
.ion-wp-taxi {
  content: url(../../build/icons/taxi.svg);
  width: 48px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
